* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.header .container {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
     color: white;
     height: 50px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    list-style-type: none;
}

li a {
    font-size: 18px;
    margin-left: 10px;
    color: #e5e7eb;
    text-decoration: none;
}

img {
    height: 200px;
}

.hero {
   background-color:  #1f2937; 
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #1f2937;
    height: 500px;
}

.container div {
    max-width: 500px;   
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    border-style: none;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
}