* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.header .container {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
     color: white;
     height: 50px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.header-links {
    display: flex;
    list-style-type: none;
}

li a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}