* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.header .container {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 10px;
}