* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.header .container {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
     color: white;
     height: 50px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    list-style-type: none;
}

li a {
    font-size: 18px;
    margin-left: 10px;
    color: #e5e7eb;
    text-decoration: none;
}

img {
    height: 300px;
    width: auto;
}

.hero {
   background-color:  #1f2937; 
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #1f2937;
    height: 500px;
}

.container div {
    max-width: 500px;   
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}


button {
    background-color: #3882f6;
    border-style: none;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 50px;
}

.information .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.image-info p {
    font-size: 18px;
    color: #1f2937
}

.image-info {
    margin-left: 50px;
}

.quote {
   background-color: #e5e7eb;
   text-align: start;
}

.quote .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    height: 500px;
    width: 800px;
    margin-left: 500px;
}

.container h2 {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.container p {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 700;
    color: #1f2937;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.action .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 1000px;
    background-color: #3882f6;
    border-radius: 8px;
}

.action-text {
     display: flex;
     justify-content: space-between;
}

.action-text button {
    border-style: solid;
    border-color: white;
    padding: 5px 20px; 
}

.container button {
    border-style: solid;
    border-color: white;
    padding: 5px 25px;
    cursor: pointer;
    font-size: 16px;
}

.sign-up-text {
    color: #e5e7eb;
}


